<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Exercicios</title>
</head>
<body>
	<h1>Exercicios</h1>
	<a href="/exercicios/exercicio1">Exercicio1</a>
	<a href="/exercicios/exercicio2">Exercicio2</a>
	<a href="/exercicios/exercicio3">Exercicio3</a>
	<a href="/exercicios/exercicio4">Exercicio4</a>
	<a href="/exercicios/exercicio5">Exercicio5</a>
	<a href="/exercicios/exercicio6">Exercicio6</a>
	<a href="/exercicios/exercicio7">Exercicio7</a>
	<a href="/exercicios/exercicio8">Exercicio8</a>
	<a href="/exercicios/exercicio9">Exercicio9</a>
</body>
</html>